html{
  height: 100vh;
}

.container {
  height: 100%;
  background: linear-gradient(to left, #a531dc, #4300b1);
  border-radius: 20px;

}



#day {
  height: 100px;
  margin: auto;
  position: absolute;
  left: 0;
  top: 70px;
  right: 0;
  font-family: "Montserrat", monospace;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

#clock {
  height: 100px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 75px;
  font-family: "Montserrat", monospace;
  text-align: center;
  color: white;
  font-size: 100px;
  font-weight: 700;
}

.item {
  height: 100px;
  width: 600px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 150px;
  font-family: "Montserrat", monospace;
  text-align: center;
  color: white;
  font-size: 100px;
  font-weight: 100;
}

#month {
  margin: auto;
  text-align: center;
  float: left;
}

#year {
  margin: auto;
  text-align: center;
  float: right;
}

#date {
  margin: auto;
  text-align: center;
}
